
%section#landing
  .container
    .row.heading.center-vertical
      .small-12.columns
        %h1#title Send The Workers
        %p#tagline Testimonies of God's work in the ordinary
        %a.button.radius#begin{ href: '#sec-2' } Begin

.content.row
  .side-navigation.hide-for-small.medium-3.columns
    .nav-heading
      %h1
        %span Send The Workers
    %ul
      %li 
        %a.button.radius{ href: "#landing" } Home
      %li 
        %a.button.radius{ href: "#sec-2" } James
      %li 
        %a.button.radius{ href: "#sec-3" } Deborah

  %section#sec-2.row
    .small-12.medium-9.medium-offset-3.columns
      .row
        %h2 Meet James
      .row
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, nostrum iure accusantium aliquam sapiente minima incidunt ducimus atque sed officia unde tempore pariatur eum optio! Voluptas, eos nobis odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, doloremque, cum, consequuntur officia autem ad eaque itaque necessitatibus provident illo quia ipsum earum dolore reprehenderit ipsa eos fugiat quam labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, nostrum iure accusantium aliquam sapiente minima incidunt ducimus atque sed officia unde tempore pariatur eum optio! Voluptas, eos nobis odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, doloremque, cum, consequuntur officia autem ad eaque itaque necessitatibus provident illo quia ipsum earum dolore reprehenderit ipsa eos fugiat quam labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, nostrum iure accusantium aliquam sapiente minima incidunt ducimus atque sed officia unde tempore pariatur eum optio! Voluptas, eos nobis odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, doloremque, cum, consequuntur officia autem ad eaque itaque necessitatibus provident illo quia ipsum earum dolore reprehenderit ipsa eos fugiat quam labore.

  %section#sec-3.row
    .small-12.medium-9.medium-offset-3.columns
      .row
        %h2 Meet Deborah
      .row 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, nostrum iure accusantium aliquam sapiente minima incidunt ducimus atque sed officia unde tempore pariatur eum optio! Voluptas, eos nobis odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, doloremque, cum, consequuntur officia autem ad eaque itaque necessitatibus provident illo quia ipsum earum dolore reprehenderit ipsa eos fugiat quam labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, nostrum iure accusantium aliquam sapiente minima incidunt ducimus atque sed officia unde tempore pariatur eum optio! Voluptas, eos nobis odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, doloremque, cum, consequuntur officia autem ad eaque itaque necessitatibus provident illo quia ipsum earum dolore reprehenderit ipsa eos fugiat quam labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, nostrum iure accusantium aliquam sapiente minima incidunt ducimus atque sed officia unde tempore pariatur eum optio! Voluptas, eos nobis odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, doloremque, cum, consequuntur officia autem ad eaque itaque necessitatibus provident illo quia ipsum earum dolore reprehenderit ipsa eos fugiat quam labore.