.main
  %section#sec-1
    .container
      .row.heading.center-vertical
        .small-12.columns
          %h1#title Send The Workers
          %p#tagline Testimonies of God's work in the ordinary.
          %a.button.radius#begin{ href: '#' } Begin
  %section#sec-2
    .row
      .small-12.columns.content
        %h2 Meet James
        .row
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, expedita, nostrum iure accusantium aliquam sapiente minima incidunt ducimus atque sed officia unde tempore pariatur eum optio! Voluptas, eos nobis odit.
