/* Variables, fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300|Dancing+Script:700|Oswald:700);
$title-font-stack: "Dancing Script", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$sub-heading-font-stack: "Oswald", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$off-white: #FFFAEE;

/* Global styles */
html, body {
  width: 100%;
  height: 100%;
}

#content {
  max-width: none;
  padding: 3rem;
}

.wrapper {
  padding: 1rem 0;
}

.center-vertical {
  display: table-cell;
  vertical-align: middle;
}

.full-height {
  height: 100vh;
}

.button {
  font-size: 1.3rem;
}

.row.summary {
  margin-bottom: 3rem;
}

/* Snap.js styles */
.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/* Sidebar */
.side-navigation {
  position: fixed;
  top: 13%;
  margin-left: 1rem;

  .button {
    width: 13rem;
  }

  .nav-heading {
    margin-bottom: 2.5rem;
    h1 span {
      font-family: $sub-heading-font-stack;
      font-size: 4.5rem;
      line-height: 6rem;
      word-spacing: 100rem;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
  }
}

/* Landing */
#landing {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;

  #background {
    width: 100%;
    height: 100%;
    background: image-url('BGedit.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    display: table;
    width: 100%;
    height: 100%;
    z-index: 999;
  }

  .heading {
    padding: 2rem 3rem;
    color: white;
  }

  #title {
    margin: 0 0 -0.5rem;
    font-size: 8rem;
    font-family: $title-font-stack;
    color: $off-white;
  }

  #tagline {
    font-size: 1.4rem;
    margin: 0 0 2rem;
  }
}

/* Section 2 */
#sec-2 {
  margin-bottom: 3rem;
}

/* Media queries */
@media only screen and (max-width: 40em) {
  .button {
    font-size: 1rem;
  }

  #landing {
    
    #background {
      background: image-url('BGedit-small.png');
      background-position: 40% 20%;
    }

    .heading {
      padding: 1rem;
    }

    #title {
      font-size: 2.3rem;
      margin: 0;
    }
    
    #tagline {
      font-size: 0.8rem;
    }
  }
}