/* Regular League Gothic font face */
@font-face {
   font-family: 'League Gothic';
   src: url('/assets/leaguegothic-regular-webfont.eot');
   src: url('/assets/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/leaguegothic-regular-webfont.woff') format('woff'),
        url('/assets/leaguegothic-regular-webfont.ttf') format('truetype'),
        url('/assets/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
// @import url(http://fonts.googleapis.com/css?family=Ledger);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

$heading-font-stack: "League Gothic", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

.content {
  padding: 3rem;
}

.button {
  font-size: 1.5rem;
}

.center-vertical {
  display: table-cell;
  vertical-align: middle;
}

#sec-1 {
  text-align: center;

  .container {
    display: table;
    width: 100%;
    height: 100%;
  }

  .heading {
    padding: 2rem 3rem;
  }

  #title {
    margin: 0 0 -1rem;
    font-size: 8rem;
    font-family: $heading-font-stack;
    text-transform: uppercase;
  }

  #tagline {
    font-size: 1.3rem;
    margin: 0 0 4rem;
  }
}

@media only screen and (max-width: 40em) {
  .button {
    font-size: 1rem;
  }
  #sec-1 {
    .heading {
      padding: 1rem;
    }

    #title {
      font-size: 3.2rem;
      margin: 0;
    }
    
    #tagline {
      font-size: 0.9rem;
    }
  }
}